* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
/*消息滚动*/
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
.roll {
  overflow: hidden;
  height: 215px;
  position: relative;
  letter-spacing: 1px;
  top: -8px;
  left: 0;
}
.roll ul {
  position: relative;
}
.roll li {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all 2s;
  padding: 12px 45px 12px 35px;
  font-size: 18px;
  list-style: none;
}
.roll li a {
  position: relative;
  color: #fff;
  padding-right: 200px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
}
.roll li a .time {
  position: absolute;
  right: 0;
}
.roll li.roll_1 {
  opacity: 0.5;
  top: 0;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
.roll li.roll_2 {
  opacity: 0.8;
  top: 35px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.roll li.roll_3 {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  top: 78px;
  height: 48px;
}
.roll li.roll_4 {
  opacity: 0.8;
  top: 125px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.roll li.roll_5 {
  opacity: 0.5;
  top: 160px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
.roll li.roll_hide {
  opacity: 0;
  top: 185px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
.news-scroll {
  background: url("../images/banner-list.png") bottom center no-repeat;
  padding-top: 100px;
  height: 500px;
  width: 100%;
}
.news-scroll .scroll-box {
  width: 800px;
  padding: 20px 0;
  margin: 0 auto;
  background-color: #67a0fe;
  -webkit-box-shadow: 0 18px 49px 0 rgba(70, 123, 228, 0.45);
  -moz-box-shadow: 0 18px 49px 0 rgba(70, 123, 228, 0.45);
  box-shadow: 0 18px 49px 0 rgba(70, 123, 228, 0.45);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
