@import url('normalize.css');

/* General Demo Style */
body{
	font-family: 'Open Sans Condensed','Arial Narrow', serif;
	background: #dbe3e2 url(../images/bg.jpg) fixed no-repeat top center;
	font-weight: 400;
	font-size: 15px;
	color: #333;
	-webkit-font-smoothing: antialiased;
	overflow-y: scroll;
	overflow-x: hidden;
}
a{
	color: #555;
	text-decoration: none;
}

.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
.main{
	width: 90%;
	margin: 0 auto;
	position: relative;
}